/* Google Font  */

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

  /* Font css */

  /* Common styles and utilities */
body{
    font-family: 'Poppins', sans-serif;
}

/* Heading css starts from here */
.head-container{
    background-color:#2D25A0;
    height: 677px;
    display: flex;
    margin-bottom: 70px;
}

.heading-text{
    margin: 207px 102px 169px 156px;
}
.heading-right{
    margin-top: 153px ;
    margin-right: 140.99px ;
    margin-bottom: 86px;
}
.heading-text h2{
    font-size: 64px;
    font-weight: bold;
    color: white;
    
}

.heading-text a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #E02C6D;
    border: 1px solid;
    padding: 10px 24px;
    margin-right: 8;
}
.heading-text a:hover{
    font-size: 30px;
   background-color: tomato;
}
.fa-arrow-right{
    margin-left: 8px;

}
.heading-photo img{
    width: 388px;
    height: 428px;

}
/* ------players-list----------- */
.players-list{
    background-color:#FFFFFF ;
    margin-left: 180px;
    margin-right: 210px;
    margin-bottom: 158px;
    
   
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    align-content: center;
    justify-content: center;
}
.player{
    width: 330px;
    height: 474px;
    border: 10px solid #bbd0c9 ;
   
}


.player-photo img{
    width: 300px;
    height: 256px;
    margin: 16px 0px;
    margin-left: 15px;
    /* border: 15px solid rgba(63, 59, 59, 0.342); */
   
    
}
.player-details{
    margin-left: 15px;
    
}
.player-details h2{
    font-size: 28px;
    font-weight: 700;
    width: 300px;
}

.player-details p{
    width: 300px;
    font-size: 16px;
    color: #6C6C6C;
    text-align: justify;
}

/* --------Highlight section ---------- */

.highlights{
    background-color: azure;
    height: 500px;
    margin-bottom: 100px;
}
.highlights h2:hover{
    font-size: 30px;
    background-color: tomato;
    color: white;

}


.highlight-videos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 15px;
}
.highlight-area{
    border: 5px solid grey;
    padding-left: 30px;
    border-radius: 20px;

}

.hightligh-area p{
    font-size: 64px;
    font-weight: bold;
}
/* sponsors area */

.sponsors{
    background-color: #bbd0c9;
}

.sponsors h2{
    margin-left: 580px;
    
}

.sponsorship{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    

}
.brand-logo img{
    height: 100px;
    width: 100px;
    padding-right: 50px;

}




/* Footer Section */

.footer{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 483.87px;
height: 213px;
margin: 158px 481.13px 63px 475px;
}
.footer-logo img{
    width: 483.87px;
    height: 110px;
}
.social-icon{
    
    margin-top: 20px;
    margin-bottom: 20px;
}

.social-icon a{
    text-decoration: none;
    color: grey;
    height: 32px;
    width: 32px;
    margin-right: 10px;
}

.copyright{
    font-size: 18px;
    font-weight: normal;
   
   
    }
/* 
    Footer Ends Here */


    /*---------------------- Media query starts from here----------------------------------------------------------------------- */


@media only screen and (max-width:688px) {
    .head-container{
        width: 360px;
        height: 695px;
        display: flex;
        flex-direction: column;
    }

.heading-text{
    margin: 5px 5px;
}

.heading-photo img{
    width: 329px;
    height: 259.17px;
}

.heading-text h2{
    font-size: 36px;
}

/* 
Player section */
.players{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-right: 70px;
}

/* Highlight section */
.highlights{
    margin-bottom: 750px;
    height: 550px;
}
.highlight-videos{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 10px;
    margin-bottom: 10px;
    
}

.hightligh-area p{
    font-size: 36px;
    font-weight: bold;
}
/* Sponsorship section */

.sponsorship{
    display: flex;
    flex-direction: column;
    
    

}

.sponsors h2{
    margin-left: 155px;
    
}
/* Footer */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 213px;
   
    }

    /* media query for second screen */
    @media only screen and (min-width:992px){

        .head-container{
            display: flex;
            flex-direction:column;

        }

        .heading-text{
            margin: 0px;
        }
      
          
        

        

        
    }















    }



 

    

 